@import '../../styles/ui.scss';

.themeApplyBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 100%;
}

.theme-selection-buttons {
  border-radius: 7px;
  background: transparent;
  color: white;
  padding: 0;
  display: inline-flex;
  align-items: center;
  max-width: 157px;
  flex: 0 1 157px;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  outline: none;
  border: 1px solid #666666;

  &:active, &:visited, &:focus {
    outline: none;
  }
  &:nth-child(even){
    margin-left: auto !important;
  }

  .ColorCode {
    height: 30px;
    width: 50%;
    color: #fff;
    background-color: #a10b0b;
    text-align: center;
    line-height: 28px;
    font-size: 11px;
    border-radius: 7px 0 0 7px;
    margin-top: -2px;
    margin-left: -1px;
    pointer-events: none;
  }

  .btnType {
    background-color: transparent;
    color: #4F4F4F;
    width: 50%;
    height: 30px;
    line-height: 28px;
    font-size: 11px;
    text-align: center;
    pointer-events: none;
  }
}
.themeApplySelect{
  border-top: 1px solid rgb(240, 240, 240);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 30px 28px;
  box-sizing: border-box;
}
