@import '../../styles/ui.scss';


.noThemesAvaile{
  p{
    margin: 3px 0 5px 2px;
    color: #101010;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
  }
}
.apply-btn{
  background-color: #f48245;
  height: 30px;
  width: 130px;
  border-radius: 5px;
}
